<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>
<div>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Login</th>
            <th>Password</th>
            <th>Name</th>
            <th>LastName</th>
            <th>roles</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.getId()}">Id</td>
            <td th:text="${user.getUsername()}">Login</td>
            <td th:text="${user.getPassword()}">Password</td>
            <td th:text="${user.getName()}">Name</td>
            <td th:text="${user.getLastName()}">LastName</td>
            <td th:text="${user.roles}">roles</td>
        </tr>
        </tbody>
    </table>
    <p><a href="/login">logout</a></p>
</div>

</body>
</html>